services:
  backend-python:
    build: ./backend-python
    container_name: backend-python
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    ports:
      - "8000:8000"
    restart: unless-stopped

  backend-java:
    build: ./backend-java
    container_name: backend-java
    ports:
      - "8080:8080"
    restart: unless-stopped

  frontend:
    build: ./frontend-react
    container_name: frontend-react
    ports:
      - "3000:80"
    restart: unless-stopped